<h1><%= t_listing_model :invoice %></h1>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th><%= t_attr_model :invoice, :sender %></th>
        <th><%= t_attr_model :invoice, :number %></th>
        <th><%= t_attr_model :invoice, :series %></th>
        <th><%= t_attr_model :invoice, :signed_xml %></th>
        <th colspan="3" class="col-md-1"><%= t('app.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.sender %></td>
          <td><%= invoice.number %></td>
          <td><%= invoice.series %></td>
          <td><%= invoice.signed_xml %></td>
          <td><%= link_to t('app.show'), invoice %></td>
          <td><%= link_to t('app.edit'), edit_invoice_path(invoice) %></td>
          <td><%= link_to t('app.destroy'), invoice, method: :delete, data: { confirm: t('app.destroy_question') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t_create_model(:invoice), new_invoice_path %>