<h1><%= t_showing_model :invoice %></h1>

<div class="panel panel-default">
  <div class="panel-body">
        <p>
      <strong><%= t_attr_model :invoice, :sender %>:</strong>
      <%= @invoice.sender %>
    </p>
        <p>
      <strong><%= t_attr_model :invoice, :number %>:</strong>
      <%= @invoice.number %>
    </p>
        <p>
      <strong><%= t_attr_model :invoice, :series %>:</strong>
      <%= @invoice.series %>
    </p>
        <p>
      <strong><%= t_attr_model :invoice, :signed_xml %>:</strong>
      <%= @invoice.signed_xml %>
    </p>
      </div>
</div>

<%= link_to t('app.edit'), edit_invoice_path(@invoice) %> |
<%= link_to t('app.back'), invoices_path %>